/* src/styles/colors.css */
:root {
  --color-primary: #f45f66;
  --color-secondary: #d5d0d4;
  --color-tertiary: #3a3433;
  --color-quaternary: #a68e84;
  --color-quinary: #bcabb4;
  --color-senary: #a52b23;
  --color-septenary: #e07d8f;
  --color-septenary-rgb: 224, 125, 143;
}
